button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: linear-gradient(to right, #0F1A2B, #1A3D63);
    padding: 12px 24px;
    color:white;
    border:none;
    border-radius: 25px;
    cursor: pointer;
}

h1{
    color:#1C2E4A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

/* menu es el nombre que le dimos a la lista*/
.menu {
    list-style: none; /*Elimina los puntos o viñetas de la lista.*/
    padding: 0;       /*- Quita el espacio interno del <ul> para que los elementos se alineen bien.*/
    width: 200px;     /*Define un ancho  fijo para el menú*/
}

/*Este es el estilo para cada elemento de la lista*/
.menu li {
    margin-bottom: 10px; /*Agrega espacio entre cada botón/enlace del menú.*/
}

/*estilo para los enlaces <a> dentro de cada <li>*/
.menu a {
    display: block;   /*- Hace que el enlace ocupe todo el ancho del <li>, como un botón.*/
    padding: 12px;    /*Agrega espacio interno para que el botón se vea más grande y cómodo.*/ 
    background-color: #052659;
    color: #BDC4D4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none; /*Elimina el subrayado del enlace.*/
    border-radius: 8px;    /*Bordes redondeados para que el botón se vea más suave.*/
    transition: background 0.7s; /*Agrega una animación suave cuando el fondo cambia (por ejemplo, al pasar el mouse).*/
}

/*estilo cuando el usr pasa el mouse sobre el enlace*/
.menu a:hover {
    background-color: #5483B3;/*Cambia el fondo a un color más intenso para dar un efecto visual de interacción.*/
}

